<a href="https://colab.research.google.com/github/vivekpraja1234/Assign/blob/main/Vivek_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<H1>COMP216 Lab exercise 1</h1>

<h5> Please insert your name, student number, course and date </h5>


#Name: Vivek Prajapati

#Student number: 301276440

#Course: Networking for software Developers

#Date: 29/01/24



<h3>Instructions</h3>

1. Complete the exercises as far as you possibly can

2. Rename the workbook to your first name  

3. Make sure that the notebook is shareable

4. Upload a link to the Assessment folder in brightspace  

5. You code must work even if the original variable changes

In [1]:
#imports and variables
from random import randint

pm = 'justin pierre james trudeau'
instructor = 'John Doe'
harry = "You've gotta ask yourself a question: how are you today?"
numbers = [randint(5, 10) for _ in range(20)]

<h3> Working with sets </h3>

In [2]:
# - 2 mark
# create a set from the variable 'instructor' and print it
instructor = 'John Doe'
instructor_set = set(instructor)
instructor_set

{' ', 'D', 'J', 'e', 'h', 'n', 'o'}

In [8]:
# - 2 mark
# use the add() method to add 'z' to the set and print it
instructor = 'John Doe'
instructor_set = set(instructor)
instructor_set.add('z')
print(instructor_set)

{' ', 'z', 'J', 'o', 'h', 'D', 'e', 'n'}

In [2]:
# - 2 mark
#use the remove() method to take ' ' from the set and print it
instructor_set = {' ', 'D', 'J', 'e', 'h', 'n', 'o', 'z'}
instructor_set.remove(' ')
instructor_set

{'D', 'J', 'e', 'h', 'n', 'o', 'z'}

In [9]:
# - 2 mark
#use the update() function to add 'x', 'y' and 'z' to the set  and print the result
instructor_set.update(['x', 'y', 'z'])
instructor_set

{' ', 'D', 'J', 'e', 'h', 'n', 'o', 'x', 'y', 'z'}

In [10]:
# - 2 mark
#use the len() function to get the number of elements in the set and print the result
set_length = len(instructor_set)
set_length

10

<h3> Working with tuples </h3>

In [17]:
# - 2 mark
#create a tuple from the variable pm and print it
tuple_pm = 'justin pierre james trudeau'
pm_tuple = tuple(pm)
pm_tuple

('j',
 'u',
 's',
 't',
 'i',
 'n',
 ' ',
 'p',
 'i',
 'e',
 'r',
 'r',
 'e',
 ' ',
 'j',
 'a',
 'm',
 'e',
 's',
 ' ',
 't',
 'r',
 'u',
 'd',
 'e',
 'a',
 'u')

In [12]:
# - 6 marks
# write the statement to produced the following lines of output

## There are 4 e's in the tuple                   #use the count() method
## You can find a at index 15 of the tuple        #use the index() method
## There are 27 elements in the tuple             #use the len() function

count_e = pm_tuple.count('e')
print("## There are", count_e, "e's in the tuple")

index_a = pm_tuple.index('a')
print("## You can find a at index", index_a, "of the tuple")

length_tuple = len(pm_tuple)
print("## There are", length_tuple, "elements in the tuple")

## There are 4 e's in the tuple
## You can find a at index 15 of the tuple
## There are 27 elements in the tuple

In [13]:
# - 2 mark
# use array-like indexing to print the third and fifth element of your tuple
third_element = pm_tuple[2]
fifth_element = pm_tuple[4]
third_element, fifth_element

('s', 'i')

<h3> Working with list </h3>

In [20]:
# - 2 mark
# create a list from the variable 'harry' using the split() method
# of the string class and print it
harry = "You've gotta ask yourself a question: how are you today?"
harry = harry.split()
print(harry)

["You've", 'gotta', 'ask', 'yourself', 'a', 'question:', 'how', 'are', 'you', 'today?']

In [21]:
# - 4 marks
# use the append() method once to add 'Eastwood' to the end of the  list
# use the insert() method to add 'Clint' at the start of the  list
# use the remove() method to remove 'question' from the list
# print the final list

harry = "You've gotta ask yourself a question: how are you today?"

harry = harry.split()

harry.append('Eastwood')

harry.insert(0, 'Clint')

harry.remove('question:')

print(harry)

['Clint', "You've", 'gotta', 'ask', 'yourself', 'a', 'how', 'are', 'you', 'today?', 'Eastwood']

In [22]:
# - 4 marks
# use the sort() method to order the  list
# print the list
# use the reverse() method to reverse the list
# print the final list

harry.sort()
print(harry)

harry.reverse()
print(harry)

['Clint', 'Eastwood', "You've", 'a', 'are', 'ask', 'gotta', 'how', 'today?', 'you', 'yourself']
['yourself', 'you', 'today?', 'how', 'gotta', 'ask', 'are', 'a', "You've", 'Eastwood', 'Clint']

<h3> Working with dictionary </h3>

In [ ]:
#use the following dictionary for your exercises
d = {
    3462: 'Artificial Intelligence',
    3468: 'Software Engineering Technician',
    3469: 'Software Engineering Technology',
    3472: 'Artificial Intelligence (FT)',
    3478: 'Software Engineering Technician (FT)',
    3528: 'Health Informatics Technology (FT)',
    3609: 'Game - Programming',
    3668: 'Health Informatics Technology',
    3679: 'Game - Programming (FT)'}

In [25]:
# - 2 mark
# display the dictionary
d = {
    3462: 'Artificial Intelligence',
    3468: 'Software Engineering Technician',
    3469: 'Software Engineering Technology',
    3472: 'Artificial Intelligence (FT)',
    3478: 'Software Engineering Technician (FT)',
    3528: 'Health Informatics Technology (FT)',
    3609: 'Game - Programming',
    3668: 'Health Informatics Technology',
    3679: 'Game - Programming (FT)'}

d

{3462: 'Artificial Intelligence',
 3468: 'Software Engineering Technician',
 3469: 'Software Engineering Technology',
 3472: 'Artificial Intelligence (FT)',
 3478: 'Software Engineering Technician (FT)',
 3528: 'Health Informatics Technology (FT)',
 3609: 'Game - Programming',
 3668: 'Health Informatics Technology',
 3679: 'Game - Programming (FT)'}

In [26]:
# - 4 mark
# use the keys() and values() method to display the keys and values

keys = d.keys()
print("Keys:", keys)

values = d.values()
print("Values:", values)

Keys: dict_keys([3462, 3468, 3469, 3472, 3478, 3528, 3609, 3668, 3679])
Values: dict_values(['Artificial Intelligence', 'Software Engineering Technician', 'Software Engineering Technology', 'Artificial Intelligence (FT)', 'Software Engineering Technician (FT)', 'Health Informatics Technology (FT)', 'Game - Programming', 'Health Informatics Technology', 'Game - Programming (FT)'])

In [27]:
# - 4 mark
# Use the key-index technique to retrieve the name of program 3462
# Use the get() method to retrieve the name of program 3462
# It there a difference?

program_name_key_index = d[3462]

program_name_get_method = d.get(3462)

program_name_key_index, program_name_get_method

# There is no difference in output.

('Artificial Intelligence', 'Artificial Intelligence')

<h3> Using the enumerate function </h3>

This function can enumerate both sequences like sets, tuples, strings and lists as well as mappings like dictionaries  
The enumerate function returns a collection of tuples.  
Each tuples is a pair comprising of the index and the value.

In [28]:
# - 5 mark
# use the enumerate function to print each collection: set, tuple, list and dict
# You must print both the position and the item in the collection

# Example collections
pm_list = 'justin pierre james trudeau'
instructor_set = 'John Doe'
harry_tuple = "You've gotta ask yourself a question: how are you today?"
d_dict = {
    3462: 'Artificial Intelligence',
    3468: 'Software Engineering Technician',
    3469: 'Software Engineering Technology',
    3472: 'Artificial Intelligence (FT)',
    3478: 'Software Engineering Technician (FT)',
    3528: 'Health Informatics Technology (FT)',
    3609: 'Game - Programming',
    3668: 'Health Informatics Technology',
    3679: 'Game - Programming (FT)'}


print("List:")
for index, item in enumerate(pm_list):
    print(f"Position {index}: {item}")


print("\nTuple:")
for index, item in enumerate(harry_tuple):
    print(f"Position {index}: {item}")


print("\nSet:")
for index, item in enumerate(instructor_set):
    print(f"Position {index}: {item}")


print("\nDictionary:")
for index, (key, value) in enumerate(d_dict.items()):
    print(f"Position {index}: Key {key}, Value {value}")

List:
Position 0: j
Position 1: u
Position 2: s
Position 3: t
Position 4: i
Position 5: n
Position 6:
Position 7: p
Position 8: i
Position 9: e
Position 10: r
Position 11: r
Position 12: e
Position 13:
Position 14: j
Position 15: a
Position 16: m
Position 17: e
Position 18: s
Position 19:
Position 20: t
Position 21: r
Position 22: u
Position 23: d
Position 24: e
Position 25: a
Position 26: u

Tuple:
Position 0: Y
Position 1: o
Position 2: u
Position 3: '
Position 4: v
Position 5: e
Position 6:
Position 7: g
Position 8: o
Position 9: t
Position 10: t
Position 11: a
Position 12:
Position 13: a
Position 14: s
Position 15: k
Position 16:
Position 17: y
Position 18: o
Position 19: u
Position 20: r
Position 21: s
Position 22: e
Position 23: l
Position 24: f
Position 25:
Position 26: a
Position 27:
Position 28: q
Position 29: u
Position 30: e
Position 31: s
Position 32: t
Position 33: i
Position 34: o
Position 35: n
Position 36: :
Position 37:
Position 38: h
Position 39: o
Position 40: w
Position 41:
Position 42: a
Position 43: r
Position 44: e
Position 45:
Position 46: y
Position 47: o
Position 48: u
Position 49:
Position 50: t
Position 51: o
Position 52: d
Position 53: a
Position 54: y
Position 55: ?

Set:
Position 0: J
Position 1: o
Position 2: h
Position 3: n
Position 4:
Position 5: D
Position 6: o
Position 7: e

Dictionary:
Position 0: Key 3462, Value Artificial Intelligence
Position 1: Key 3468, Value Software Engineering Technician
Position 2: Key 3469, Value Software Engineering Technology
Position 3: Key 3472, Value Artificial Intelligence (FT)
Position 4: Key 3478, Value Software Engineering Technician (FT)
Position 5: Key 3528, Value Health Informatics Technology (FT)
Position 6: Key 3609, Value Game - Programming
Position 7: Key 3668, Value Health Informatics Technology
Position 8: Key 3679, Value Game - Programming (FT)

In [29]:
# - 5 mark
# Use the items() method of the dict class to enumerate a dictionary
# You must print the position, the key and the value

d_dict = {
    3462: 'Artificial Intelligence',
    3468: 'Software Engineering Technician',
    3469: 'Software Engineering Technology',
    3472: 'Artificial Intelligence (FT)',
    3478: 'Software Engineering Technician (FT)',
    3528: 'Health Informatics Technology (FT)',
    3609: 'Game - Programming',
    3668: 'Health Informatics Technology',
    3679: 'Game - Programming (FT)'}

print("Dictionary Enumeration:")
for position, (key, value) in enumerate(d_dict.items()):
    print(f"Position {position}: Key {key}, Value {value}")

Dictionary Enumeration:
Position 0: Key 3462, Value Artificial Intelligence
Position 1: Key 3468, Value Software Engineering Technician
Position 2: Key 3469, Value Software Engineering Technology
Position 3: Key 3472, Value Artificial Intelligence (FT)
Position 4: Key 3478, Value Software Engineering Technician (FT)
Position 5: Key 3528, Value Health Informatics Technology (FT)
Position 6: Key 3609, Value Game - Programming
Position 7: Key 3668, Value Health Informatics Technology
Position 8: Key 3679, Value Game - Programming (FT)